{% extends "base.html" %}
{% block title %}Feedback System{% endblock %}

{% block content %}
<h1 class="display-4" id="commonh1">Feedback Analyze</h1>
<form method = "POST" enctype="multipart/form-data" action = "/uploadCSV">
        <input type="file" name="file" accept=".csv" class="formbut">
        <input type = "submit" value="Upload" class="formbut" style=margin-top:50px;>
    </form>
    <h2 style="color:green;-webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: white;"> File uploaded successfully!! </h2>
  <form action="/show_data" target="_blank">
        <input type="submit" value="Show CSV" class="formbut" style=margin-top:50px;/>
    </form>
    <form action="/sentiment" target="_blank">
        <input type="submit" value="Analyze sentiment" class="formbut" style=margin-top:25px;/>
    </form>
{% endblock %}
